<h1>Log In</h1>

<p><%= flash[:error] %></p>

<% if @session.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@session.errors.count, "error") %>
      prohibited this session from being saved:
    </h2>
 
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(:user) do |f| %>

    <%= f.label :username %>
    <%= f.text_field :username %>
    <br><br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br><br>
    <%= f.submit "Log In" %>

<% end %>