<% if params[:brand_id] %>
    <h1>Add a Review for <%= @comment.brand.name %>:</h1>
    <% else %>
    <h1>Create a Review</h1>
<% end %>

<% if @comment.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@comment.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>
 
    <ul>
    <% @comment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@comment) do |f| %>
    <div>
            <%= f.label :review %>
            <%= f.text_area :review, size: "25x10" %>
    </div>
    <%= f.hidden_field :brand_id %>
    <br><br> 

    <input type="submit" value="Submit">

<% end %>