<% if params[:brand_id] %>
    <h1>Add a Review for <%= @comment.brand.name %>:</h1>
    <% else %>
    <h1>Create a Review</h1>
<% end %>

<%= render partial: "layouts/errors", locals: { object: @comment } %>

<%= form_for(@comment) do |f| %>
    <div>
            <%= f.label :review %>
            <%= f.text_area :review, size: "25x10" %>
    </div>
    <%= f.hidden_field :brand_id %>
    <br><br> 

    <input type="submit" value="Submit">

<% end %>