<% if params[:brand_id] %>
    <h1>Add a Review for <%= @comment.brand.name %>:</h1>
    <% else %>
    <h1>Create a Review</h1>
<% end %>

<%= render partial: "layouts/errors", locals: { object: @comment } %>

<%= form_for(@comment) do |f| %>
  <% if params[:brand_id] %> 
    <%= f.hidden_field :brand_id %>
  <% else %>
    <div>
            <%= f.label :brand_id, "Select a Brand" %>
            <%= f.collection_select :brand_id, Brand.alpha, :id, :name_category_info, include_blank: true %>
    </div>
    <% end %>
    <div>
            <%= f.label :review %>
            <%= f.text_area :review, size: "25x10" %>
    </div>
    <br><br> 

    <input type="submit" value="Submit">

<% end %>