<h1>Eco-friendly Brands:</h1>
<br> 

<%= form_tag("/brands", method: 'get') do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
<% end %>

<% @brands.each do |b| %>
<br>
    <div> 
    <h2><%= link_to b.name, brand_path(b) %> - <%= b.category %></h2>
    </div>
    <div> 
    <% if !b.image.blank? %> 
    <%= image_tag b.image %>
    <% end %> 
    </div>
    <br><br> 
    <div>
        <p><%= b.info %></p>
    </div>
    <div>
        <p><% b.comments.each do |c| %></p>
        <%= c.review %>
        <% end %>
    </div>
    <br> 

    <%= link_to "Edit", edit_brand_path(b), :class => 'btn btn-default' %>
    <%= link_to "Delete", brand_path(b), 
                                    method: :delete, 
                                    data: {confirm: 'Are you sure?'}, 
                                    :class => 'btn btn-danger' %>
    
<% end %>
