<h1>Recommend a brand!</h1>

<%= form_for(@brand) do |f| %>
    
            <%= f.label :name %>
            <%= f.text_field :name %>
            <br>
            <%= f.label :category %>
            <%= f.text_field :category %>
            <br>
            <%= f.label :info %>
            <%= f.text_field :info %>
    <br><br>

     <%= f.fields_for :comment do |c| %>
            <div>
            <%= c.label :review %>
            <%= c.text_field :review %>
            </div>
            <% end %>
            <br><br>

    <%= f.submit %>

<% end %>
