<h1>Recommend an eco-friendly brand!</h1>

<%= form_for(@brand) do |f| %>
    <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
    </div>
    <br><br> 
    <div>
    <%= f.label :category %>
    <%= f.text_field :category %>
    </div>
    <br><br>
    <div>
     <%= f.label :info %>
    <%= f.text_field :info %>
    </div>
    <br><br>

    <p> Select a brand that already exists: </p> 
    <div>
        <%= f.collection_select %>
    </div>

    <p> Or create a new brand: </p>  
    <div>

    </div>

    <%= f.submit %>

<% end %>
