<h1>Recommend a brand!</h1>

<%= render partial: "layouts/errors", locals: { object: @brand } %>

<%= form_for(@brand) do |f| %>
    
            <%= f.label :name %>
            <%= f.text_field :name %>
            <br>
            <%= f.label :category %>
            <%= f.text_field :category %>
            <br>
            <%= f.label :info %>
            <%= f.text_field :info %>
        <br><br> 
        <%= f.label :image %>
        <%= f.file_field :image %>
        <br><br> 
       
    <%= f.submit %>

<% end %>
