<h1><%= @brand.name %></h1>

<h2><%= @brand.category %></h2>
<div>
    <p> <%= @brand.info %></p>
</div>
<%# <%= image_tag (@brand.image) %>
<%= link_to "Review Item", new_brand_comment_path(@brand, @comments) %> 
